@using YEMEKCI.Models
@model List<Address>

@{
    ViewBag.Title = "Müşteri Adres";

}


<div style="margin: 40px 50px 0px 50px;">

    <h3 style="font-weight: 600; color:#f8a920; margin-bottom:20px">Müşteri Adres</h3>

    <a class="btn btn-dark mb-4 mt-1" href="/Address/AddressEkle">Adres Ekle</a>

    @section head{
        <style>
            .hata {
                color: red;
            }
        </style>
    }


    @section body{
        <!-- Modal -->
        <div class="modal fade" id="addressSilModal" tabindex="-1" role="dialog" aria-labelledby="addressSilModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addressSilModal">ADRES SIL</h5>
                    </div>
                    <div class="modal-body">
                        <p class="mesaj"></p>
                        <p class="hata"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                        <button type="button" class="btn btn-dark addressSil">Evet</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <table class="table table-striped">
        <thead>
            <tr class="text-decoration-underline">
                <th>ADRES ID</th>
                <th>SEHİR : </th>
                <th>İLÇE : </th>
                <th>POSTA KODU : </th>
                <th>AÇIK ADRES : </th>
                <th>KİMİN : </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Address ad in Model)
            {
                <tr>
                    <td>@ad.ID</td>
                    <td>@ad.city</td>
                    <td>@ad.district</td>
                    <td>@ad.postalCode</td>
                    <td>@ad.address1</td>
                    <td>@ad.Customer.name @ad.Customer.surname</td>
                    <td><a href="#" data-toggle="modal" data-target="#addressSilModal" data-adsID="@ad.ID" class="btn btn-danger adsSil">Sil</a></td>
                    <td><a class="btn btn-success" href="/Address/AddressGuncelle/@ad.ID">Güncelle</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>


@section scripts{

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script>
        $(".adsSil").click(
            function () {
                $(".modal-body>p.hata").html = "";
                var adsID = $(this).attr("data-adsID");
                $(".modal-body>p.mesaj").html(adsID + " silinsin mi?");
                $(".addressSil").data("adsID", adsID);
            }
        );

        $(".addressSil").click(
            function () {
                var id = $(this).data("adsID");

                $.ajax(
                    {
                        type: "POST",
                        url: "/Address/AddressSil/" + id,
                        success: function (param) {
                            if (param == 1) {
                                window.location.replace("/Address/Index");
                            }
                            else {
                                $(".modal-body>p.hata").html("Hata !!!");
                            }
                        }
                    }
                );
            }
        );
    </script>

}



