
@{
    ViewBag.Title = "Fiş Olustur";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div style="margin: 40px 50px 0px 50px;">

    <h3 style="font-weight: 600; color:#f8a920; margin-bottom:20px">İsim : <span class="text-black">@ViewBag.CustomerName</span></h3>
    <h3 style="font-weight: 600; color:#f8a920; margin-bottom:20px">Adres: <span class="text-black">@ViewBag.Address</span></h3>

    <table class="table table-bordered">
        <thead>
            <tr style="text-decoration:underline; font-weight:600; font-size: 18px;">
                <th>Yemek Adı</th>
                <th>Adet</th>
                <th>Fiyat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.OrderItems)
            {
                <tr style="font-size: 18px; font-weight: 500" >
                    <td>@item.Dish.name</td>
                    <td>@item.quantity</td>
                    <td>@(item.quantity * item.Dish.unit_price)</td>
                </tr>
            }
        </tbody>
    </table>

    <h4 class="mt-5"> <span class="text-xl-start fw-bold">Toplam Tutar:</span> @ViewBag.TotalAmount</h4>
</div>

