@using YEMEKCI.Models
@model Orderr

@{
    ViewBag.Title = "Sipariş Olustur";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

@section body
    {
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Sipariş Tamamlandı</h5>
                </div>
                <div class="modal-body">
                    Siparişiniz başarıyla alınmıştır.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="Modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
}


<div style="margin: 40px 50px 0px 50px;">

    <h3 style="font-weight: 600; color:#f8a920; margin-bottom:20px">Sepet </h3>

    <div class="d-flex">

        <div>

            @foreach (CartItem item in ViewBag.cItems as List<CartItem>)
            {

                <div class="rounded-3 shadow mb-5" style="width: 609px; height: 230px; padding: 30px 20px 30px 20px; border: 0.5px solid #e7e7e7">
                    <div style="font-weight: 700; font-size:17px; margin-bottom:30px">@item.Dish.name</div>

                    <hr />

                    <div style="display:flex; align-items:center; margin:30px 20px 0px 0px">

                        <div>
                            <img class="rounded-3" style="width:112px; height:87px; margin-right: 20px;" src="~/Admin_Contents/assets/img/restoran.jpg">
                        </div>

                        <div>
                            <div style="color:black; font-weight:600; font-size:15px">@item.Dish.Category.name</div>
                            <div style="color:#5D47C2; font-weight: 600; font-size: 15px">@Math.Round(@item.Dish.unit_price, 2)₺</div>

                        </div>

                        <div style="margin-left: auto; font-weight:600; font-size: 15px">
                            Adet: <span style="color: #5D47C2;">@item.quantity</span>
                        </div>
                    </div>
                </div>
            }
        </div>


        <div>
            <form action="/Orderr/OrderrOlustur" method="post" id="orderForm">
                @{
                    var authTicket = ((FormsIdentity)HttpContext.Current.User.Identity).Ticket;
                    string[] userData = authTicket.UserData.Split('|'); // Kullanıcıya özgü verileri ayrıştır
                    int userID = int.Parse(userData[2]);
                }
                <input type="hidden" class="form-control" value="@userID" name="customerID">
                <input type="hidden" class="form-control" value="@Model.total_Amaount" id="total_Amaount" name="total_Amaount">


                <div class="shadow rounded-3 ms-5" style="padding: 25px 25px 25px 25px; border: 0.5px solid #e7e7e7">
                    <p style="font-size:17px; font-weight:600">Teslimat Adresi</p>
                    <select name="selectedAddressID">
                        @foreach (Address adr in ViewBag.addressesO as List<Address>)
                        {
                            <option value="@adr.ID">@adr.address1</option>
                        }
                    </select>
                </div>

                <div class="shadow rounded-3 ms-5 mt-5" style="padding: 25px 30px 25px 30px; border: 0.5px solid #e7e7e7; display:flex; flex-direction:column; width:420px; gap:30px;  justify-content:space-between">

                    <div style="display:flex; justify-content:space-between; gap:0px 15px">
                        <div>
                            <p style="font-size:15px; font-weight:600;">İndirim Kuponu</p>
                            <select name="selectedDiscountID">
                                @foreach (Discount kupon in ViewBag.discountO as List<Discount>)
                                {
                                    <option value="@kupon.ID">@kupon.name</option>
                                }
                            </select>
                        </div>

                        <div style="border-left:3px solid #e7e7e7; margin:-10px 0px -10px 0px"></div>

                        <div>
                            <p style="font-size:15px; font-weight:600" ;>Ödeme Yöntemi</p>
                            <select name="selectedPaymentID" style="max-width:150px">
                                @foreach (Payment p in ViewBag.paymentsO as List<Payment>)
                                {
                                    <option value="@p.ID">@p.name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div style="border-bottom:3px solid #e7e7e7;"></div>

                    <div>
                        <div style="display:flex; justify-content:space-between">
                            <div style="font-size:17px; font-weight:600">Sepet Tutarı:</div>
                            <span style="color: #5D47C2; font-size:17px; font-weight:600">@Model.total_Amaount₺</span>
                        </div>

                        <div class="text-center">
                            <button class="rounded-3 px-5 py-2 mt-4" style="border: none; background-color:#5D47C2; color:white; font-size:15px;" type="submit">Siparişi Tamamla</button>
                        </div>
                    </div>

                </div>




            </form>
        </div>

    </div>

</div>


@section scripts
    {

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#orderForm').submit(function (e) {
                e.preventDefault(); // Formun otomatik olarak gönderilmesini engelle

                // Formu AJAX ile gönder
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (data) {
                        // Form başarıyla gönderildiğinde modalı göster
                        $('#successModal').modal('show');
                    },
                    error: function () {
                        alert('Bir hata oluştu, lütfen tekrar deneyin.');
                    }
                });
            });
        });
    </script>

}
